.venv
.vscode

__pycache__

report/report.aux
report/report.bbl
report/report.bcf
report/report.fdb_latexmk
report/report.fls
report/report.log
report/report.out
report/report.pdf
report/report.run.xml
report/report.synctex.gz